In [2]:
# %pip install sweetviz

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('synthetic_wine_price.csv')
df.head()

,alcohol,vintage_year,pH,residual_sugar,total_sulfur_dioxide,density,variety,region,bottle_size,winery,price
0,10.621781,2009.0,3.006201,30.803177,45.982340,0.990934,Pinot Noir,Tuscany,375ml,WineryA,1203.317620
1,14.655000,1997.0,3.229776,46.677230,317.372152,1.003843,Merlot,Napa,375ml,WineryA,1222.045909
2,13.123958,1990.0,3.031521,46.586024,148.787263,0.991242,Pinot Noir,Mendoza,750ml,WineryD,1209.036797
3,12.190609,2008.0,3.044664,28.647521,343.333010,0.995059,Chardonnay,Bordeaux,1.5L,WineryB,1209.493518
4,9.092130,1996.0,NaN,14.950810,128.163183,1.001439,Cabernet,Mendoza,750ml,WineryB,1211.239727

In [5]:
import sweetviz as sv

my_report=sv.analyze(df)
my_report.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.